body{
    font-family:"Arial", sans-serif;
}

.body-container{
    max-width: 800px;
    margin: 50px auto;
    margin-right: 11vw;
    margin-top: 10px;
}

.dropzone{
    width: 50%;
    height:150px;
    border: 2px dashed #ccc;
    color: #ccc;
    text-align: center;
    line-height: 150px;
    font-size: 22px;

}

.dropzone.dragover{
    border-color: #000;
    color: #000;
}

