    h3 {
    text-align: center;
    margin-bottom: 2vw;
    }


    label{
    width:200px;
    text-align:left;
    margin-left:20vw;
    display:inline-block;
    }

/*to balance the box sizing of each input and text area*/
    input,textarea,select{
    box-sizing: border-box;
    width:250px;
    }

/*to align label to match top of textarea*/
    textarea{vertical-align: top;}

