#checkout-details{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: 80%;
    padding: 40px; 
    align-content: space-between;
}
.address{
    padding: 10px; 
}
.order{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding: 10px;
}
.food-title{
    grid-column-start: 1;
    text-align: left;  
}
.food-quantity{
    grid-column-start: 2;
    text-align: center;
}
.food-price{
    grid-column-start: 3;
    text-align: right;
}
#content textarea{
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--seperator);
}
#order{
    height: 100%; 
}
#total-amount{
    position: relative;
    bottom: 0; 
    padding: 10px; 
    display: flex;
    justify-content: space-between;
}
#buttons{
    width: 100%;
    justify-content: end;
    display: flex;
    padding: 40px; 
}
#cancel-button:hover{
    background-color: var(--light-grey-bg); 
}
#cancel-button:active{
    background-color: white;
}
#cancel-button{
    width: 150px;
    height: 50px;
    margin: 10px;
    color: var(--primary-bg);
    background-color: white;
    border: 2px solid var(--primary-bg);
    border-radius: 10px;
}
#checkout-button{
    width: 150px;
    height: 50px;
    margin: 10px; 
    color: white; 
    background-color: var(--primary-bg);
    border: none; 
    border-radius: 10px;
}
#checkout-button:hover{
    background-color: var(--button-hover);
}
#checkout-button:active{
    background-color: var(--primary-bg);
}