.container{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    min-height: 50%; 
    min-width: 50%;
    padding: 20px; 
    line-height: 30px;
    position: relative;
}
.order{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.order-list{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.food-name{
    grid-column-start: 1 ;
    text-align: left;
}
.food-quantity{
    grid-column-start: 2;
    text-align: center;
}
.price-per-item{
    grid-column-start: 3;
    text-align: center;
}
.food-price-section{
    grid-column-start: 4;
    text-align: right;
}
.food-price{
    border: none;
    background-color: white;
    width: 50px;
}
.buttons-section{
    margin-top: 20px;
    width: 100%; 
    display: flex;
    justify-content: center;
    bottom: 0;
}
.inc-button, .dec-button{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid var(--primary-bg);
    background-color: white;
    color: var(--primary-bg);
    margin-left: 10px;
    margin-right: 10px; 
}
.inc-button:hover, .dec-button:hover{
    background-color: rgb(227, 227, 227);
}
.inc-button:active, .dec-button:active{
    background-color: white;
}
.food-number{
    padding-top: 13px; 
    background-color: white;
    width: 20px;
    text-align: center;
}
#cancel-button:hover{
    background-color: var(--light-grey-bg); 
}
#cancel-button:active{
    background-color: white; 
}
#cancel-button{
    width: 150px;
    height: 50px;
    margin: 10px;
    color: var(--primary-bg);
    background-color: white;
    border: 2px solid var(--primary-bg);
    border-radius: 10px;
}
#checkout-button{
    width: 150px;
    height: 50px;
    margin: 10px; 
    color: white; 
    background-color: var(--primary-bg);
    border: none; 
    border-radius: 10px;
}
#checkout-button:hover{
    background-color: var(--button-hover);
}