li #home{
    color: white;
    background-color: var(--primary-bg);
    transition: all ease-in 200ms;
}
button{
    background-color: var(--primary-bg);
    text-align: center;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none; 
    margin-left: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.map{
    position:relative;
    text-align:right;
    height:360px;
    width:1000px;
    display: flex;
    margin-left: 0;
    margin-right: auto;
}
#onlineBtn{
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#dNotesBtn{
    float: right;
    margin-right: 80px;
    margin-top: -60px;
}
/*#topBtn{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -150px;
    margin-left: 42%;
}

#onlineBtn{
    margin-top: -50px;
    margin-right: 210px;

}
*/
#picked{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
}
h3{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
#order{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: var(--light-grey-bg);
}
#dNotesBtn{
    background-color: var(--primary-bg);
    text-align: center;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none; 
    margin-left: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}
/*
    ORDER STATUS MENU
*/
.order-list-container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	width: 100%;
    height: 80%;
}

.order-status-menu {
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    margin-top: -15px;
}
.order-status-menu > ul > li {
    list-style: none;
    display: block;
    background-color: white;
    color: var(--primary-bg);
    border-radius: 10px 0 0 10px;
    padding: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}
/*Pop up confirmation*/
.container{
    display: none;
    top: 120px;
    left:202px;
    right: 0;
    bottom: 0;
    position: fixed; /*fix full page*/
    background: rgb(0, 0, 0,0.5);
    justify-content: center;
    align-items: center;
}
.container.active{
    display: block;
}
.container .deliveryDetail{
    position: relative;
    height:200px;
    width:400px;
    background-color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
#middleContainer{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#middleContainer h3{
    padding-top: 80px;
}
#bottomBtn{
    display: flex;
    align-content: center;
    justify-content: center;
}
#bottomBtn button{
    margin: 10px;
    cursor: pointer;
}
#cancelBtn{
    background-color:white;
    color:  #6C5A8A;
    border: 1px solid #6C5A8A;
}
#cancelBtn:hover{
    background-color: var(--button-hover);
}
