li #report{
    color: white;
    background-color: var(--primary-bg);
    transition: all ease-in 200ms;
}
#graph{
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
}
#graph div{
    padding-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}